.intro {
    min-height: 100vh;
    margin: auto;
    max-width: 800px;
    text-align: center;
    display: flex;
    gap: 40px;
    flex-direction: column;
    padding-top: 50px;
}

.intro .text {
    text-align: left;
    display: flex;
    max-width: 650px;
}
